{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="list-entry">
	<h2>{{ object.title }}</h2>
	<p><span class="text-muted">Sorted {{ object.get_sort_criterion_display }}</span></p>
</div>
<div>
	<p>
		<a href="{% url 'list_edit' list.pk %}">Edit</a>
		<a href="{% url 'list_delete' list.pk %}">Delete</a>
		<a href="{% url 'list_sort' list.pk %}">Sort...</a>
	</p>

	<hr>

	<div>
		{% for task in object.get_sorted_tasks %}
			<span class="font-weight-bold">
				{{ task.title }} &middot;
			</span>
			{{ task.end_date }} &middot;
			{{ task.priority }}
			<br>
		{% endfor %}
	</div>

	<hr>

	<h4>New Task</h4>
	<form action="" method="post">{% csrf_token %}
		{{ form | crispy }}
		<button class="btn-success ml-2" type="submit">Save</button>
	</form>

	<p>Back to <a href="{% url 'list_list' %}">All Lists</a>.</p>
</div>
{% endblock content %}