{% load frontend_options_extras %}
<span {% if request.user|get_hide_finished_tasks and task.is_done %}class="hidden"{% endif %}>
	<span class="font-weight-bold">
		{{ task.title }} &middot;
	</span>

	{% if task.should_show_alarm %}
		<span class="alarm">
	{% else %}
		<span>
	{% endif %}
	{{ task.end_date }} &middot;
	</span>

	{{ task.priority }} &middot;
	<form method="post" action="{% url 'task_toggle_done' task.id %}" style="display: inline;">
		{% csrf_token %}
		<button type="submit" class="btn btn-link p-0">완료 여부: {{ task.is_done }}</button>
	</form> &middot;

	<a href="{% url 'task_edit' task.id %}" class="btn btn-link p-0">수정</a> &middot;
	<a href="{% url 'task_delete' task.id %}" class="btn btn-link p-0">삭제</a>
</span>

<br>
